#top-panel {
	overflow: visible;
	border-bottom: 2px solid #DDD;
	width: 100%;
	height: 10em;
	position: fixed;
	background: white;
	z-index: 5;
	min-width: 980px;
	margin:0px;
}

.logo {
	width:12.5em;
	height:12.5em;
	position: relative;
	background: url("../images/logo.jpg") no-repeat;
	margin:0.25em;
}

.banner-title {
	font-size: 1.2em;
	font-weight: bold;
}
.banner-subtitle {
	font-size: 0.9em;
}

#system_title {
	top: 1em;
	position: absolute;
	left:14em;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	letter-spacing: 1px;
}

.top_menu_link {
	float: left;
	min-width: 115px;
	height: 40px;
	line-height: 40px;
	color: white;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
	display: block;
	text-align: center;
	background:#28b7e8;
	border: 1px solid rgba(0, 0, 0, 0.2);
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
}

.top_menu_active {
	color: #036;
	background: #FFFFFF;
}
.top_menu_link:hover {
	background: white;
	color: black;
	text-decoration: none;
}

#top_menu {
	min-width: 200px;
	height: 60px;
	position: absolute;
	top: 0;
	right: 0;
	margin-top: -5px;
}
#top_menu a {
	font-size: 18px;
	font-weight: normal;
}
.welcome_msg {
	clear: left;
	text-align: right;
	color: #2B597E;
	padding: 20px;
}
.welcome_msg a {
	color: rgb(24, 161, 214);
}
#my_profile_link {
	background-color: #00B831;
	width: auto;
	padding: 0 10px 0 10px;
}
#my_profile_link:hover {
	background-color: white;
	cursor: pointer;
}

#my_profile {
	width: 140px !important;
	margin: 0px !important;
	padding: 0px !important;
	line-height: 40px;
}
.first_link {
	width: 120px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-right: -5px;
	position: relative;
	z-index: 1;
}
.last_link {
	width: 120px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left: -5px;
	position: relative;
	z-index: 1;
}

#my_profile_link_container .generated_link {
	display: none;
}
#my_profile_link_container {
	min-width: 200px !important;
	background-color: red;
	height: 100px;
}
.btn-group {
	font-size: 20px;
}
.firm_name{
	color: #28b7e8;
	margin-top: 5px;
	font-weight: bold;
	font-size: 1.1em;
}

.main-content {
	width: 100%;
	height: 100%;
	background:#F0F0F0;
}

.center-content h3, .full-content h3, .main-content h3, .sidebar-content h3 {
	line-height: 2em;
	-webkit-margin-before: 0.5em;
	color: #fff;
	font-size: 1em;
	padding: 0 0 0 1em;
	background:#28b7e8;
	box-shadow: 0 1.2px 3px 1px #000;
	-webkit-box-shadow: 0 1.2px 3px 1px #000;
}

#footer_text {
	letter-spacing:1.5px;
	margin: 0 auto;
	font-size: 1em;
	color: #036;
	width: 90%;
	height: 30px;
	display: block;
	overflow: hidden;
}

#footer {
	width: 95%;
	margin: 20px 2% 0 2%;
	text-align: center;
}

#bottom_ribbon {
	background: white;
	height: 50px;
	width: 100%;
	position: fixed;
	bottom: 0;
	margin: 0 auto;
	border-top: 2px solid #DDD;
}
.sidebar-content {
	padding: 12em 0.5% 0.5% 1%;
	width: 15.3%;
	float: left;
	margin-bottom: 2%;
}
.sidebar-content ul {
	font-size: 0.9em;
}
.nav>li>a{
	padding:5px 10px;
}
.well{
	padding:10px;
}
.sidebar-content .center-content {
	position: relative;
}
.center-content h3 {
	margin: 0 0 1% 0;
}
.center-content {
	float: right;
	padding: 13em 1% 1% 1%;
	width: 83%;
	margin: 0 0 0 1%;
	padding-bottom: 5%;
	display: inline-block;
}
.full-content {
	width: 90%;
	margin: auto;
	padding: 10% 1% 5% 1%;	
	zoom:0.8;
	-moz-transform:scale(0.9);
}
.breadcrumb{
	background:#28b7e8;
	color:#FFF:
}
