@font-face {
	font-family: Arsenal-Regular;
	src: url('fonts/Arsenal-Regular.otf');
}
@font-face {
	font-family: Arsenal-Bold;
	src: url('fonts/Arsenal-Bold.otf');
}
@font-face {
	font-family: SourceSansPro-Regular;
	src: url('fonts/SourceSansPro-Regular.otf');
}
@font-face {
	font-family: SourceSansPro-Light;
	src: url('fonts/SourceSansPro-Light.otf');
}
body {
	font-size: 1.7em;
	background: #F0F0F0 !important;
}

#header .navbar-default {
	border: none;
	width: 100%;
	margin: auto;
	border-radius: 0;
	color: #777777;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000000;
	box-shadow: 0 0.5px 3px 0.5px #000;
}
#myCollapse {
	overflow: hidden;
}
#contentView {
	padding: 75px 2% 0 2%;
}

.inner {
	padding: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	border: 1px solid #bbb;
	border-radius: 3px;
	box-shadow: 0px 1px 3px 0px #e3e3e3;
	box-shadow: 0px 1px 3px 0px rgba(112,112,112,0.05);
	height: 43%;
	margin-bottom: 2%;
	font-size: 0.8em !important;
	overflow: hidden;
}
.inner h3, .inner h4,h3,h4 {
	width: 100%;
	font-family: SourceSansPro-Regular;
	margin-top: 0;
	color: #666;
}
.inner > h3 > i {
	font-size: 0.8em;
}
/** Form
 *
 */
.inner form, .inner ul, .inner table {
	width: 100%;
	height: 90%;
	padding: 2%;
	overflow-y: auto;
}
.btn{
	margin-top: 10px;
}
.modal-footer > button{
	margin-top:-15px;
}
.date {
	padding-right: 2%;
	font-size: 0.8em;
}
.error {
	color: red;
}
.error i {
	padding-right: 10px;
}
td a {
	margin-right: 10px;
}
td a:hover {
	text-decoration: none;
}

.myModal{
	top:100px !important;
	overflow:hidden !important;
}
.modal{
	top:150px !important;
	overflow:hidden !important;
}
